# Site Settings
title: Wietze Suijker
url: 'https://wietzesuijker.github.io'
baseurl: '/'
description: Geospatial data engineer building EO data pipelines at scale
theme_skin: ceramic
chrome_mobile_color:

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Build settings
compress-site: yes

encoding: "utf-8"
compress_html: # - http://jch.penibelst.de/
  clippings: all
  ignore:
    envs: development

# Development Settings
port: 4000
host: 0.0.0.0
safe: false
